/* Estilo del index (Pagina Principal)*/
.main-index-container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.texto-index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.texto-index-container a{
    background-color: var(--blue);
    color: whitesmoke;
    padding: 0.5rem;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 15rem;
    text-decoration: none;
    text-align: center;
}

.texto-index-container a:hover{
    cursor: pointer;
    background-color: #1025EA;
}

.texto-index-container h1{
    font-size: 3.5rem;
}

.texto-index-container p{
    font-size: 1.5rem;
    margin-bottom: 10vh;
}

.main-index-container img{
    height: 50vh;
}