/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root{
    --black: #070809;
    --blue: #091AB4;
    --form-color-auth: #ffffff;
    --form-container-login: #42006A;
    --form-container-register: #42006A;

    --teoria-color: #091AB4;
    --practicas-color: #0B9111;
    --evaluaciones-color: #990478;
    --minijuegos-color: #E64A19;
}

*{
    margin: 0px;
    font-family: 'Titillium Web';
}

body{
    background-color: #F5F5F5;
}

/* Header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    color: whitesmoke;
    font-size: large;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-links a {
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
}
.header-links a:hover {
    text-decoration: underline;
}

.header-black{
    background-color: var(--black);
}

.header-blue{
    background-color: var(--teoria-color);
}

.header-orange{
    background-color: var(--minijuegos-color);
}

.header-green{
    background-color: var(--practicas-color);
}

.header-purple{
    background-color: var(--evaluaciones-color);
}

/* Footer waves */
.footer-waves{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-waves svg{
    display: block;
}

.waves-cover{
    transform: translate(0, 42px);
}

.waves-stroke{
    transform: translate(0, 40px);
    stroke-width: 5px;
    width: 110vw;
 }

.waves-stroke-white{
    stroke: whitesmoke;
}

.waves-stroke-purple{
    stroke: #5e35b1;
}

.waves-black{
    fill: var(--black);
}

.waves-blue{
    fill: var(--teoria-color);
}

.waves-orange{
    fill: var(--minijuegos-color);
}

.waves-green{
    fill: var(--practicas-color);
}

.waves-purple{
    fill: var(--evaluaciones-color);
}