/* Estilos selección de módulos y submodulos selectores inmediatos (Selector de tema, prácticas, evluaciones y minijuegos) */
.main-modulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.modulos > h1{
    text-align: center;
    padding-top: 1rem;
}

.modulo-card{
    background-color: var(--black);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: x-large;
    font-weight: bold;
    height: 30vh;
    width: 15vw;
}

.modulo-card-button{
    padding: 0.3rem;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

/* Colores de cards de cada modulo */
.teoria-card{
    box-shadow: 15px 15px 0px 5px var(--teoria-color);
}

.practicas-card{
    box-shadow: 15px 15px 0px 5px var(--practicas-color);
}

.evaluaciones-card{
    box-shadow: 15px 15px 0px 5px var(--evaluaciones-color);
}

.minijuegos-card{
    box-shadow: 15px 15px 0px 5px var(--minijuegos-color);
}

/* Colores de cada boton de cada card */
.teoria-button{
    background-color: var(--teoria-color);
}

.practicas-button{
    background-color: var(--practicas-color);
}

.evaluaciones-button{
    background-color: var(--evaluaciones-color);
}

.minijuegos-button{
    background-color: var(--minijuegos-color);
}

/* div tables (Practicas y evaluacions)*/
.div-table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 40vh;
    border: 4px solid;
    font-size: x-large;
    border-radius: 10px;
}

.div-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.div-row p, .div-row a{
    margin: 0px 1rem 0px 1rem;
} 

.div-row-border-bottom{
    border-bottom: 4px solid;
}

.div-table-green{
    border-color: var(--practicas-color);
}

.div-table-row-green{
    border-color: var(--practicas-color);
}

.div-table-purple{
    border-color: var(--evaluaciones-color);
}

.div-table-row-purple{
    border-color: var(--evaluaciones-color);
}

/* Hovers */
.teoria-button:hover{
    background-color: #1025EA;
}