/* Estilos del perfil */
.main-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-perfil h1{
    padding-top: 1rem;
}

.form-container-perfil{
    background-color: var(--black);
    width: 70vw;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.perfil-form{
    background-color: white;
    color: black;
    width: 80%;
    border: 5px solid var(--black);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 7px;
    font-size: large;
}

.button-container-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.input-button-pefil{
    background-color: var(--black);
    color: whitesmoke;
    font-size: large;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 10px;
    width: 5rem;
}

.input-button-pefil:hover{
    cursor: pointer;
}

.user-picture-perfil-module{
    margin: 0 0.5rem 0 0.5rem;
}

/* Estadísticas */
.module-select-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.module-button{
    padding: 1rem;
    border-radius: 100px;
    margin: 0px 10px 0px 10px;
    font-size: large;
}

.teoria-button-stadistic{
    border: 3px solid var(--teoria-color);
}

.teoria-button-stadistic:hover{
    background-color: var(--teoria-color);
    color: whitesmoke;
    cursor: pointer;
}

.practicas-button-stadistic{
    border: 3px solid var(--practicas-color);
}

.practicas-button-stadistic:hover{
    background-color: var(--practicas-color);
    color: whitesmoke;
    cursor: pointer;
}

.evaluaciones-button-stadistic{
    border: 3px solid var(--evaluaciones-color);
}

.evaluaciones-button-stadistic:hover{
    background-color: var(--evaluaciones-color);
    color: whitesmoke;
    cursor: pointer;
}

.minijuegos-button-stadistic{
    border: 3px solid var(--minijuegos-color);
}

.minijuegos-button-stadistic:hover{
    background-color: var(--minijuegos-color);
    color: whitesmoke;
    cursor: pointer;
}

/* --- actives */
.teoria-button-stadistic-active{
    background-color: var(--teoria-color);
    color: whitesmoke;
}

.practicas-button-stadistic-active{
    background-color: var(--practicas-color);
    color: whitesmoke;
}

.evaluaciones-button-stadistic-active{
    background-color: var(--evaluaciones-color);
    color: whitesmoke;
}

.minijuegos-button-stadistic-active{
    background-color: var(--minijuegos-color);
    color: whitesmoke;
}

/* Estadisticas */
.estadisticas-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 2rem;   
}

.estadistica-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 90vw;
    margin-bottom: 1rem;
    box-shadow: 5px 5px black;
}

.estadistica-container center p{
    padding-right: 1rem;
}

.grafica-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estadistica-modulo-titulo{
    vertical-align: center;
    height: 100%;
    font-size: larger;
    font-weight: 600;
    padding-left: 1rem;
    min-width: 11rem;
}

.grafica--bar-container{
    width: 40rem;
}

@media only screen and (max-width: 768px) {
    .form-container-perfil{
        flex-direction: column;
    }

    .perfil-form, .input-button-pefil{
        font-size: small;
    }

    .button-container-perfil{
        justify-content: center;
    }

    .input-button-pefil{
        width: 100%;
        margin-top: 10px;
    }

    .main-perfil h1{
        font-size: medium;
        text-align: center;
    }

    .module-select-container div{
        font-size: small;
        text-align: center;
        padding: 10px;
    }

    .estadistica-container{
        flex-direction: column;
    }

    .grafica--bar-container{
        width: 80%;
        margin: 10px 0 10px 0;
        text-align: center;
    }
}