/* Variables */
:root{
    --circle-beat-color: #CDDC39;
    --secondary-beat-color: #827717;
    --main-beat-color:  #33691E;
}

/* Estilos de las configuraciones prácticas y las prácticas mismas */
.configuration-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: x-large;
    font-weight: 800;
    height: 55vh;
    margin: 0px 5vw 0px 5vw;
}

.inputConfig-container-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputConfig-container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.inputConfig-container input{
    margin: 0px 1rem 0px 1rem;
    border-radius: 5px;
    border: 2px solid var(--practicas-color);
    font-size: large;
    text-align: center;
    min-width: 4rem;
}

.inputConfig-container img{
    width: 30px;
}

.inputConfig-container button{
    border: 3px solid var(--practicas-color);
    margin: 0px 10px 0px 10px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
}

.inputConfig-container button:hover{
    cursor: pointer;
}

.radio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.inputConfig-container option, .inputConfig-container select{
    font-size: large;
}

.inputConfig-container select{
    margin-left: 1rem;
}

/* Estilos botón iniciar práctica */
.configurationButton{
    background-color: var(--practicas-color);
    color: whitesmoke;
    border-radius: 5px;
    font-size: x-large;
    border: 0px;
    min-width: 10rem;
    font-weight: 800;
    padding: 6px;
}

.configurationButton:hover{
    cursor: pointer;
}

.configurationButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Configuración del botón de ver melodía */
.config-buttonRight{
    display: flex;
    justify-content: flex-end;
}

.melody-button{
    background-color: var(--evaluaciones-color);
    color: whitesmoke;
    border-radius: 5px;
    font-size: large;
    border: 0px;
    min-width: 10rem;
    font-weight: 800;
    padding: 6px;
}

.melody-button:hover{
    cursor: pointer;
}

.active-button{
    background-color: var(--practicas-color) !important;
}

/* CSS de la practica Ritmo */
.entered-configuration{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-size: large;
    font-weight: 600;
    padding: 0px 20px 0px 20px;
}

.entered-configuration img{
    width: 30px;
}

.sheetContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet{
    padding: 0px 50px 0px 50px;
}

.sheet svg{
    /* border: 1px solid black; */
}

.divSimulateButtonFigura{
    border: 3px solid var(--practicas-color);
    margin: 0px 10px 0px 10px;
    /* height: 40px; */
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.divSimulateInput{
    border: 3px solid var(--practicas-color);
    margin: 0px 10px 0px 10px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 2px;
}

.buttonRitmoContainer{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.circle-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle-beat{
    height: 50px;
    width: 50px;
    border: 5px solid var(--circle-beat-color);
    border-radius: 100%;
    background-color: var(--circle-beat-color);
    margin-left: 15px;
    margin-right: 15px;
}

.secondary-beat{
    border: 5px solid var(--secondary-beat-color);
    background-color: var(--secondary-beat-color);
}

.main-beat{
    border: 5px solid var(--practicas-color);
    background-color: var(--practicas-color);
}

.selectSubdivison{
    border: 3px solid var(--practicas-color);
    border-radius: 5px;
    background-color: white;
}

.circle-answer{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.circle-red{
    background-color: #F44336;
}

.circle-green{
    background-color: var(--practicas-color);
}

.synchronize-container{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px 100px;
}

.progressBar{
    height: 50px;
    width: 50vw;
}
/* Solfeo */
.keyScaleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.escaleButton{
    border: 3px solid var(--practicas-color);
    margin: 0px 10px 0px 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    padding: 1rem;
}

.escaleButton:hover{
    cursor: pointer;
}

/* Detección de notas */
.noteDetector-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.center-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}