/* Indice */
.links-indice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem 0 3rem;
}

.link-indice{
    /* background-color: #0d47a1; */
    background-color: var(--teoria-color);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    color: white;
    width: 40vw;
    text-align: center;
}

.link-indice:hover{
    background-color: #1565c0;
}

/*  Teoria*/
.teoria-contenido-container{
    padding: 0rem 3rem 3rem 3rem;
    text-align: justify;
    white-space: pre-line;  
    vertical-align: bottom;
}

.teoria-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teoria-img-container img{
    width: 50vw;
    min-width: 300px;
}

.teoria-contenido-button-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.teoria-button-back{
    min-width: 10rem;
    background-color: var(--teoria-color);
    color: white;
    border-radius: 5px;
    font-size: large;
    border: none;
    padding: 0.5rem;
    margin-top: 2rem;
}

.teoria-button-back:hover{
    cursor: pointer;
    background-color: #1025EA;
}

/* Ejercicio */

.ejercicio-container{
    background-color: var(--teoria-color);
    min-height: 8rem;
    border-radius: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 10px 10px black;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ejercicio-container button{
    background-color: black;
    color: whitesmoke;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
}

.ejercicio-container button:hover{
    cursor: pointer;
}

.ejercicio-button-state-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ejercicio-estado-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ejercicio-circle{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.ejercicio-circle-red{
    border: 3px solid red;
}

.ejercicio-circle-green{
    border: 3px solid var(--practicas-color);
    background-color: var(--practicas-color);
}

/* Opciones */
.opciones-container-teoria{
    width: 100%;
}

.opcion-container-teoria{
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-color: #535fcb;
    font-size: larger;
    border: 3px solid #535fcb;
}

.selected-op-teoria{
    background-color: #06127e;
    border: 3px solid whitesmoke;
}

.ejercicio-button-container{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.ejercicio-correcta{
    background-color: var(--practicas-color);
    border: 3px solid var(--practicas-color);
}

.ejercicio-incorrecta{
    background-color: #f50057;
    border: 3px solid #f50057;
}

.timer-container-teoria{
    position: sticky;
    top: 5rem;
    left: 88vw;
    font-size: larger;
    font-weight: 600;
    border: 3px solid var(--teoria-color);
    padding: 0.5rem;
    border-radius: 10px;
    width: 8rem;
    background-color: whitesmoke;
}
